
* { 
    margin: 0;
    padding: 0; 
}

html, body { 
    height: 100%;
     width: 100%; 

}
.ui-content {  /*取消listviews的scroll*/
    overflow: hidden;
}

#page2-content {
    color:white;
    position:fixed;
    /*top:50%;*/
    /*-webkit-transform:translate(100px);*/

}

#canvas {
    position:absolute;
    /*top:50%;
    left:50%;*/
    background-color:white; 
    display:block; 
}

#msg {
    overflow: hidden;
}

[label] {
    font-weight:bold;
}